{% extends 'framework/layout.twig' %}

{% block title %}Welcome to SaaS!{% endblock %}

{% block content %}
	<div class="box">

		<h1>SaaS</h1>

		<div class="divider"></div>

		<p>Students as a Service.</p>
	</div>
{% endblock %}