{% extends "email_base.twig" %}

{% block content %}
<h2>Hello, 
    {% if user.user_type == 'student' %}
        {{ user.userable.full_name }}
    {% else %}
        {{ user.userable.name }}
    {% endif %}!
</h2>
<br>
<p>Welcome to the Students as a Service platfrom! We are so glad that you have decided to joined our community.</p>
<p>Please follow the link below to verify your account.</p>
<br>
<p><a href="{{ app_url }}/verify-account">Verify your account.</a></p>
{% endblock %}